.notifications-card-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

@media (max-width: 768px) {
  .notifications-card-list-container {
    margin: 0 auto;
  }
}